<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ret</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="center">ret</h1>
    <form action="/get/bytag" class="center">
      <input type="text" name="url" placeholder="Enter your url">
      <input type="text" name="tag" placeholder="Tag">
      <input type="submit" value="get it">
    </form>
    <hr>
    <form action="/get/intext" class="center">
      <input type="text" name="url" placeholder="Enter your url">
      <input type="text" name="text" placeholder="Text">
      <input type="submit" value="get it">
    </form>
    <hr>
    <form action="/get/inattr" class="center">
      <input type="text" name="url" placeholder="Enter your url">
      <input type="text" name="attr" placeholder="Attribute">
      <input type="text" name="text" placeholder="Text">
      <input type="submit" value="get it">
    </form>
    <p class="center">by:
      <a href="http://newsify.ir" , target="_blank">newsify</a>
    </p>
  </body>
</html>
